h1 {
  color: red;
}

body {
  background-color: rgba(0, 0, 255, 0.2);
}

img {
  box-shadow: 2px 2px 6px 0px  rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
}

p {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
