{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'main_view.css' %}">

{% if threads.first.board %}
  <h1>Threads of board /{{threads.first.board.name}}/ - {{threads.first.board.description}}</h1>
{% endif %}

{% for t in threads %}
  {% if t.first_post.thumbnail %}
    <a href="{% url 'thread_detail' t.board.name t.id %}">
      <img src="{{t.first_post.thumbnail.url}}" alt="{{p}}"/>
    </a>
  {% else %}
    <a href="{% url 'thread_detail' t.board.name t.id %}">{{t.first_post}}</a>
  {% endif %}
  {% empty %}
    <p>There aren't any threads.</p>
{% endfor %}

{% endblock content %}
