{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'test.css' %}">

<h1>Threads of board /{{threads.first.board.name}}/ - {{threads.first.board.description}}</h1>
{% for t in threads %}
  {% if t.first_post.thumbnail %}
    <a href="{% url 'thread_detail' t.board.name t.id %}">
      <img src="{{t.first_post.thumbnail.url}}" alt="{{p}}"/>
    </a>
  {% else %}
    <a href="{% url 'thread_detail' t.board.name t.id %}">{{t.first_post}}</a>
  {% endif %}
  {% empty %}
    <p>There aren't any boards.</p>
{% endfor %}

{% endblock content %}
