{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'main_view.css' %}">

<h1>Boards: </h1>
{% for b in boards %}
  {% with board=b %}
  <a href="{{board.name}}/">/{{board.name}}/</a>
  {% endwith %}
{% endfor %}

<h1>Threads: </h1>
<div class="row">
{% for t in threads %}
  {% if t.first_post %}
    {% with first_post=t.first_post %}
    {% if first_post.thumbnail %}
    <div class="img-box">
      <a href="{% url 'thread_detail' first_post.thread.board.name first_post.thread.id %}"> 
      <img class="img" src="{{first_post.thumbnail.url}}" alt="{{first_post}}"></img>
      <div class="img-text">{{first_post}}</div>
      </a>
    </div>
    {% else %}
      <a href="{% url 'thread_detail' first_post.thread.board.name first_post.thread.id %}">{{first_post}}</a>
    {% endif %}
    {% endwith %}
  {% endif %}
  {% empty %}
    <p>There aren't any threads.</p>
{% endfor %}
</div>
<hr>
<h1>Create new board:</h1>
{% include "board_form.html" %}
{% endblock content %}
