{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
    <div class="row">
    {% for p in thread.all_posts %}
      <div id="{{p.pk}}" class="box">
        <p><a href="#">#{{p.id}}</a> - {{p.created_at}}</p>
        
        {% if p.thumbnail %}
        <img src="{{p.thumbnail.url}}" alt="{{p.text}}"/>
        <ul class="meta-info">
          <li hidden class="orig-img">{{p.original.url}}</li>
          <li hidden class="thumb-img">{{p.thumbnail.url}}</li>
        </ul>
        {% endif %}
        <p>{{p.text}}</p>
      </div>
     
      {% if p.get_replies.count %}
      <p>replies:
      {% for r in p.get_replies %}
        {% if r %} 
        <a href="#">>>{{r.from_post.id}}</a>
        {% endif %}
      {% endfor %}
      </p>
      {% endif %}

      <hr>
      {% empty %}
        <p>There aren't any posts.</p>
    {% endfor %}
    </div>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="{% static 'thread_detail.js' %}" charset="utf-8"></script>
{% endblock content %}
